<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/149a2013fd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-5">
            <div class="container justify-content-between">
                <div class="container d-none d-lg-flex d-md-flex d-xl-flex ps-0">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-kiwi-bird fa-flip fa-lg" style="--fa-animation-duration: 4s;"></i>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-sm-none">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-kiwi-bird fa-flip fa-lg" style="--fa-animation-duration: 4s;"></i>
                    </a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex text-center">
                    <ul class="navbar-nav flex-grow-1 gap-2">
                        <li class="nav-item">
                            <a class="nav-link text-dark grow-header-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark grow-header-text" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark grow-header-text" asp-area="" asp-controller="Home" asp-action="Projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container justify-content-center align-content-center">
            <div class="row">
                <div class="col">
                    &copy; 2024 - Makhsot Nursat
                </div>
                <div class="col d-flex justify-content-end align-content-center align-items-center gap-3">
                    <a href="https://github.com/mnursat" target="_blank">
                        <i class="fa-brands fa-github fa-lg footer-icons"></i>
                    </a>
                    <a href="#">
                        <i class="fa-brands fa-linkedin fa-lg footer-icons"></i>
                    </a>
                    <a href="mailto:nursatmakhsot@gmail.com">
                        <i class="fa-solid fa-envelope fa-lg footer-icons"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
