@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home/index.css" asp-append-version="true" />


<div class="container pt-5 mt-3">
    <main class="pb-5 mb-5">
        <div class="row d-flex flex-column flex-sm-row">
            <div class="col-12 col-lg-6">
                <img class="img-fluid grow" src="assets/hero.svg" />
            </div>
            <div class="col-12 col-lg-6 my-auto ">
                <h3 class="fw-bold">Hello, I'm Nursat 👋</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pretium posuere nisl, a placerat arcu. Suspendisse ut leo ac elit sodales faucibus eget ac justo. Nulla a accumsan erat. Nam non suscipit ligula. Ut dui orci, molestie at tincidunt a, faucibus sed quam. Phasellus semper ex eu feugiat tempor. Etiam at eleifend augue. Ut sem est, facilisis ac ullamcorper in, egestas in diam. Nam rhoncus nunc nec tellus egestas, et pulvinar arcu ornare. Morbi tristique mi nunc, ut hendrerit arcu ultrices eget. Duis vel leo quam.
                </p>
                <a class="btn btn-outline-success" href="mailto:nursatmakhsot@gmail.com">Email me</a>
            </div>
        </div>
    </main>
</section>
</div>
