@{
    ViewData["Title"] = "Проекты";
}

<div class="container">
    <h2 class="text-center mb-5">Все проекты</h2>
    <div class="card w-50 mx-auto">
        <div class="card-header">
            Notes
        </div>
        <div class="card-body row d-flex justify-content-between">
            <div class="col-8">
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut nibh sagittis, gravida urna nec, bibendum justo. Donec commodo justo ut nunc imperdiet, sit amet eleifend tortor pellentesque. Quisque pharetra ex vitae nunc bibendum ultricies. Morbi ligula lorem, laoreet nec nunc ut, consequat tincidunt neque. Aliquam semper convallis enim, id consectetur urna molestie quis. Sed sodales neque at tortor placerat, ut cursus ante gravida. Integer sodales nibh quam, vitae pretium felis interdum eget. Fusce ornare, enim eu ullamcorper blandit, eros urna luctus dui, vel mollis odio sem non nibh. Curabitur vel varius lacus. Sed a facilisis orci, a hendrerit tellus.
                </p>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="https://placehold.co/200x200" />
                <a href="#" class="btn btn-primary mt-3 float-end position-absolute bottom-0 end-0 mb-3 me-3">Ссылка на сайт</a>
            </div>
        </div>
    </div>
</div>